
if [ -d ./.venv ]; then
    source ./.venv/bin/activate
	echo "successfully sourced .venv"
fi

# Load .env file from current directory
if [ -f .env ]; then
    set -a
    source .env
    set +a
    echo "successfully sourced .env"
fi	

